@model CodeFox.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="RegisterForm" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <ul>
        <li class="text-danger" id="DuplicateUsernameError"></li>
    </ul>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Country, new SelectList(
                  Model.CountryList.Select(x => new { Value = x, Text = x }),
                  "value",
                  "text",
                   "Iceland"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#RegisterForm').on('submit', function () {
                var form = $(this);
                $.ajax({
                    url: '/Account/Register/',
                    data: form.serialize(),
                    method: 'POST',
                    success: function (data) {
                        if (data == 'Error') {
                            $('#DuplicateUsernameError').html('Username already in use');
                        }
                        else {
                            window.location.href = '@Url.Action("Index","Home")';
                        }
                    }
                });
                return false;
            });
            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('#ShareForm input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
