<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CodeFox the code collaborator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://use.fontawesome.com/9f381b8651.js"></script>
    <link href="https://www.fontify.me/wf/b0e766cb77da3dcd6b24938677217dfd" rel="stylesheet" type="text/css">

    <!--JQuery-->
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" rel="Stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

</head>
<body>
    <div class="NavBar navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="NavBarHamburger" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <div id="HeaderImage"></div>
                </a>
                @*Html.ActionLink("CodeFox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand HoverEffect" })*@
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p class="col-md-6 col-sm-6">&copy; @DateTime.Now.Year - CodeFox</p>
        <ul class="FooterPosition col-md-6 col-sm-6">
            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "FooterLinkAppearance" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "FooterLinkAppearance" })</li>
            
        </ul>
        <p></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
