@model CodeFox.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage your account</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>

    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
            <td>@Html.ActionLink("Edit", "ChangePassword")</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>@Model.Username</td>
            <td></td>
        </tr>
        <tr>
            <th>Password</th>
            <td>********</td>
            <td>@Html.ActionLink("Edit", "ChangePassword")</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
            <td>@Html.ActionLink("Edit", "ChangePassword")</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.Country</td>
            <td>@Html.ActionLink("Edit", "ChangePassword")</td>
        </tr>
    </table>
</div>