@model CodeFox.Models.ViewModels.EditorViewModel
@{
    ViewBag.Title = Model.Name;
}
@Styles.Render("~/Content/JsTree/style.min.css")

<h1 id="ProjectName">Project name: @Html.DisplayFor(model => model.Name)</h1>
<div class="EditorButtons">
    <!-- Class created to construct the look of the buttons on EditorPage -->
    <!-- Nav bar where SAVE EXPORT SHARE ADD FILE CLOSE AND DELETE PROJECT WILL BE-->
    @Html.ActionLink("Export", "Export", "Projects", new { id = Model.ID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Share with your foxes!", "Share", "Editor", new { ID = Model.ID }, new { @class = "btn btn-info" })
    <a class="btn btn-info AddFileButton" data-toggle="modal">Add File</a>
    <a class="btn btn-info AddFolderButton" data-toggle="modal">Add Folder</a>
    @Html.ActionLink("Close", "Index", "Projects", new { area = "" }, new { @class = "btn btn-info" })

    @if (User.Identity.Name == Model.Owner.Username)
    {
        <a class="btn btn-danger Delete DeleteButton" data-toggle="modal" data-id="@Model.ID">Delete</a>
    }
</div>
<div class="EditorArea">

    <div>
        <!-- Nav bar where SAVE EXPORT SHARE ADD FILE CLOSE AND DELETE PROJECT WILL BE-->
    </div>
    <div class="container">
        <!-- DIV AROUND THE FILE TREE VIEW AND EDITOR-->
        <div class="panel panel-default">
            <div class="panel-heading">
            <p id="EditorInfo">Project info</p>
            </div>
            <div class="Wrapper">
                <div id="Tree" class="col-lg-2 TheTree"></div>
                <div id="InfoView" class="col-lg-2 InfoView"><p>Changes</p></div>
            </div>
            <div class="panel-body">
                <pre id="Editor">@Model.CurrentOpenFile.Location</pre>
            </div>
        </div>
    </div>

    <input type="hidden" value="@Model.ID" class="ProjectID" />
    <input type="hidden" value="@Model.ReadMe.ID" class="ReadMeID" />
    <input type="hidden" value="@User.Identity.Name" class="CurrentUser" />
    <input type="hidden" value="@Url.Content("~/Content/JsTree/tree-icon.png")" class="TreeIcon" />


    <!--DELETE MODAL-->
    <div class="modal" id="OpenModalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container DeleteContent">
                    </div>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DeleteForm" }))
                    {
                        <input type="hidden" value="@Model.ID" class="ProjectID" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger DeleteProject">Delete</button>
                    }
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--ADD FILE MODAL-->
    <div class="modal" id="OpenModalAddFile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container AddFilesContainer">                      
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--ADD FOLDER MODAL-->
    <div class="modal" id="OpenModalAddFolder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container AddFolderContainer">
                     
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    @section scripts{
    <script src="@Url.Content("~/Scripts/AceEditor/ace.js")" type="text/javascript" charset="utf-8"> </script>
    <script src="@Url.Content("~/Scripts/AceEditor/ext-modelist.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/JsTree/jstree.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/EditorScripts.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/DeleteModal.js")" type="text/javascript" charset="utf-8"></script>   
    }
</div>
