@model CodeFox.Models.ViewModels.ShareProjectViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ShareTemplate";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ShareForm" }))
{
    @Html.AntiForgeryToken()
    <h2>Share with fellow foxes</h2>
    <div class="row InputField">
        <h3>Sharing: @Model.ShareProject.Name, Created by: @Model.ShareProject.Owner.Username</h3>
        <h4>Add collaborator by Username</h4>            
        <div class="table-responsive">
            <table class="table table-striped col-sm-12 col-md-12" id="CollabTable">
                <thead>
                    <tr>
                        <th colspan="2">Collaborators</th>
                    </tr>
                </thead>
                <tbody class="ListOfCollaborators">
                    @foreach (var item in Model.SharedWith)
                    {
                        <tr>
                            <td class="ShareUsername">@item.Username</td>
                            @if (User.Identity.GetUserName() == Model.ShareProject.Owner.Username)
                            {
                                <td><span class="RemoveShare glyphicon glyphicon-remove"></span></td>
                            }                                   
                        </tr>
                    }
                </tbody>
            </table>
        </div>                
    </div>
    <label for="AddUsername">Add collaborator</label>
    <input type="text" id="AddUsername" placeholder="Search for a username..." autocomplete="off"/>
    <div class="ShowFound col-sm-12 col-md-12 col-lg-12"></div>

    @Html.ActionLink("Go Back", "Index", "Editor", new { id = Model.ShareProject.ID }, new { @class = "btn btn-default" })
    <button type="submit" id="ShareSubmitButton" class="btn btn-default" disabled>Share</button>
}

@section scripts 
{
    <script>

    $(document).ready(function ()
    {
        /**************************************************************/
        /*Ajax*/
            $("#AddUsername").keyup(function ()
            {
                var form = $(this);
                var prefix = $("#AddUsername").val();
                $.ajax({
                    url: '/Editor/Autocomplete/',
                    data: { 'term': prefix },
                    method: 'POST',
                    success: function (data)
                    {

                        $('.ShowFound').html('');
                        if (data != "")
                        {
                            var html = "<ul>";
                            for (var i = 0; i < data.length; i++)
                            {
                                html += "<div name='SelectFoundUsers' class='SelectClass list-group-item col-sm-12 col-md-12 col-lg-12'>";
                                html += data[i].Username;
                                html += "</div>";
                            }
                            html += '</ul>';
                            $('.ShowFound').append(html);
                        }
                        else if (prefix == "")
                        {
                            $('.ShowFound').html('');
                        }
                        else
                        {
                            $('.ShowFound').html('<p>User Not found</p>');
                        }
                    }
                });
            });

            var ProjectID = '@Model.ShareProject.ID';
            var Owner = '@Model.ShareProject.Owner.Username';
            var CurrentUser = '@User.Identity.GetUserName()';

            $('#ShareForm').on('submit', function () {
                var AddUserHtml = document.getElementsByClassName('SelectedFoundUser');
                var AddUser = AddUserHtml[0].valueOf().innerHTML;
                $.ajax({
                    url: '/Editor/Share/',
                    dataType: 'html',
                    data: AddAntiForgeryToken({ 'Username': AddUser, 'ProjectID': ProjectID }),
                    method: 'POST',
                    success: function (data)
                    {
                        if(data == '"User is already a collaborator"')
                        {
                            $('.ShowFound').html('User is already a collaborator');
                        }
                        else {
                            $('.ShowFound').html('');
                            var html = '<tr">';
                            html += '<td class="ShareUsername">'+ AddUser + '</td>';
                            if(CurrentUser == Owner)
                            {
                                html += ' <td><span class="RemoveShare glyphicon glyphicon-remove"></span></td>';
                            }
                            html += '</tr>';
                            $('.ListOfCollaborators').append(html);
                            $('.ShowFound').html('Collaborator added!');
                        }
                        $('.SelectedFoundUser').removeClass('SelectedFoundUser');
                        document.getElementById("ShareSubmitButton").disabled = true;
                        $(".ShowFound").val('');
                    }
                });
                return false;
            })

            $('#CollabTable').on('click', 'span', function () {
            var RemoveUserHtml = $(this).parent().prev();
            var RemoveUser = RemoveUserHtml.html();
            var CurrentRow = $(this).parent().parent();
            if(Owner == CurrentUser)
            {
                $.ajax({
                    url: '/Editor/DeleteShare/',
                    dataType: 'html',
                    data: AddAntiForgeryToken({ 'Username': RemoveUser, 'ProjectID': ProjectID }),
                    method: 'POST',
                    success: function (data)
                    {
                        if(data == '"Success"')
                        {
                           CurrentRow.remove();
                        }
                        else {
                            alert('Failed');
                        }
                    }
                });

            }
            return false;
        })


        /***********************************************************************************/
        /*Other*/

        var first = true;
        $('div.ShowFound').on('click', '.SelectClass', function ()
        {
            var ElementArray = document.getElementsByClassName('SelectedFoundUser');
            if ($(this).hasClass("SelectedFoundUser")) 
            {
                $('.SelectedFoundUser').removeClass('SelectedFoundUser');
                document.getElementById("ShareSubmitButton").disabled = true;
            }
            else
            {
                if (ElementArray.length >= 1) {
                    $('.SelectedFoundUser').removeClass('SelectedFoundUser');
                }
                $(this).addClass('SelectedFoundUser');
                document.getElementById("ShareSubmitButton").disabled = false;
            }
        });
           
            AddAntiForgeryToken = function(data) {
                data.__RequestVerificationToken = $('#ShareForm input[name=__RequestVerificationToken]').val();
                return data;
            };
    });
</script>

}


