@model CodeFox.Models.ViewModels.ShareProjectViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ShareTemplate";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ShareForm" }))
{
    @Html.AntiForgeryToken()
    <h2>Share with fellow foxes</h2>
    <div class="row InputField">
        <h3>Sharing: @Model.ShareProject.Name, Created by: @Model.ShareProject.Owner.Username</h3>
        <h4>Add collaborator by Username</h4>            
        <div class="table-responsive">
            <table class="table table-striped col-sm-12 col-md-12" id="CollabTable">
                <thead>
                    <tr>
                        <th colspan="2">Collaborators</th>
                    </tr>
                </thead>
                <tbody class="ListOfCollaborators">
                    @foreach (var item in Model.SharedWith)
                    {
                        <tr>
                            <td class="ShareUsername">@item.Username</td>
                            @if (User.Identity.GetUserName() == Model.ShareProject.Owner.Username)
                            {
                                <td><span class="RemoveShare glyphicon glyphicon-remove"></span></td>
                            }                                   
                        </tr>
                    }
                </tbody>
            </table>
        </div>                
    </div>
    <label for="AddUsername">Add collaborator</label>
    <input type="text" id="AddUsername" placeholder="Search for a username..." autocomplete="off"/>
    <div class="ShowFound col-sm-12 col-md-12 col-lg-12"></div>

    @Html.ActionLink("Go Back", "Index", "Editor", new { id = Model.ShareProject.ID }, new { @class = "btn btn-default" })
    <button type="submit" id="ShareSubmitButton" class="btn btn-default" disabled>Share</button>
    
    <input type="hidden" value="@Model.ShareProject.ID" class="ModelProjectID"/>
    <input type="hidden" value="@Model.ShareProject.Owner.Username" class="ModelOwner" />
    <input type="hidden" value="@User.Identity.GetUserName()" class="CurrentUser" />

}

@Scripts.Render("~/Scripts/codefox.js")


