@model CodeFox.Models.ViewModels.ProjectsViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Projects</h1>

<h2>Welcome @Html.DisplayFor(model => model.Name)!</h2>

<h2>My Projects</h2>
<div class="OwnProjects col-sm-12 col-md-12 col-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 Create Project thumbnail">
                <br />
                <br />
                <img src="~/Content/Images/plus.png" data-hsolder-rendered="true" onclick="location.href='@Url.Action("Create", "Projects")';return false;">
                <div class="caption">
                    <h4>@Html.ActionLink("Create new", "Create", "Projects")</h4>
                </div>
            </div>

                @foreach (var item in Model.Projects)
                {
                    <div class="col-sm-4 col-md-3 col-lg-2 Project thumbnail">
                        <img src="~/Content/Images/tester.png" data-holder-rendered="true" onclick="location.href='@Url.Action("Index", "Editor", new { id = item.ID })';return false;" />
                        <div>
                            <h4 class="ProjectName">@Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(model => item.Name).ToString()), "Index", "Editor", new { id = item.ID }, null)</h4>
                            <p><b>Last updated:</b> <br />@Html.DisplayFor(Model => item.DateModified).ToString()</p>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">@Html.ActionLink("Delete", "Delete", "Projects", new { id = item.ID }, null)</li>
<<<<<<< HEAD
                                    <li class="dropdown-item">@Html.ActionLink("Export", "Export", "Projects", new { id = item.ID }, null)</li>
                                    <li class="dropdown-item">@Html.ActionLink("Details", "Index", "Editor", new { id = item.ID }, null)</li>
=======
                                    <li class="dropdown-item">@Html.ActionLink("Export", "Index", "Editor", new { id = item.ID }, null)</li>
                                   <!-- <li class="dropdown-item CursorOnList" data-toggle="modal" data-target="#MyModal" data-id="">Details</li> -->
                                    <li href="#my_modal" class="SelectDropDown" data-toggle="modal" data-id="@item.ID">Open Modal</li>
>>>>>>> ba6fddcd4c1f4d84a7e61602fdbf82ce493f982d
                                </ul>
                            </div>
                        </div>      
                    </div>
                    <div class="modal" id="@item.ID">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Modal header</h4>
                                </div>
                                <div class="modal-body">
                                    <p id="ModalText_@item.ID"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }   


        </div>
    </div>
</div>

     
@if (Model.SharedProjects.Count != 0)
{
    <h2>Projects Shared With Me</h2>
    <div class="SharedProjects col-sm-12 col-md-12 col-lg-12">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.SharedProjects)
                {
                    <div class="col-sm-4 col-md-3 col-lg-2 Project thumbnail">
                        <img src="~/Content/Images/tester.png" data-holder-rendered="true" onclick="location.href='@Url.Action("Index", "Editor", new { id = item.ID })';return false;" />
                        <div class="JsOnHover">
                            <h4 class="ProjectName">@Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(model => item.Name).ToString()), "Index", "Editor", new { id = item.ID }, null)</h4><div class="OnHover"><b>Owned by:</b><br />@item.Owner.Username</div><hr id="HiddenLine" />
                            <p><b>Last updated:</b><br /> @Html.DisplayFor(Model => item.DateModified).ToString()</p>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">@Html.ActionLink("Export", "Index", "Editor", new { id = item.ID }, null)</li>
                                    <li class="dropdown-item">@Html.ActionLink("Details", "Index", "Editor", new { id = item.ID }, null)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
   }




<!-- SCRIPT TO SHOW OWNER IN SHARED PROJECTS  -->
<script type="text/javascript">

    $(".JsOnHover").mouseover(function () {
            $(this).children(".OnHover").show();
        }).mouseout(function () {
        $(this).children(".OnHover").hide();
        });

    $('.SelectDropDown').on('click', function (e) {
       // alert($(this).data("id"));
        var ProjectID = $(this).data("id");
        $.ajax({
            url: '/Projects/GetProject',
            dataType: 'html',
            data: { 'ProjectID': ProjectID },
            method: "POST",
            success: function(data)
            {
                if(data == "")
                {
                    $('#ModalText').html('Project Not Found');
                }
                else
                {
                    $('#ModalText_' + ProjectID).html(data.substring(1,data.length-1));
                }
            }
        });
        $('#' + ProjectID).modal();
        return false;
    });
    
  
</script>
